ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
  }
  li a {
    display: block;
    width: 60px; 
  }

  body {

    background-color: blanchedalmond;
  }